<?xml version="1.0" encoding="utf-8"?>
<Content Key="470e9422-d4a6-4bbe-ba2c-992307bb2cd6" Alias="About" Level="2">
  <Info>
    <Parent Key="2e74a208-b2e3-4aa6-87d2-0b17e67037e1">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2023-07-26T11:55:20</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About Us]]></Value>
    </title>
  </Properties>
</Content>