<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6dae6c0-6016-43d4-a888-b3077e19db68" Alias="Blogs" Level="2">
  <Info>
    <Parent Key="2e74a208-b2e3-4aa6-87d2-0b17e67037e1">Home</Parent>
    <Path>/Home/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>bloglistPage</ContentType>
    <CreateDate>2023-07-26T11:55:38</CreateDate>
    <NodeName Default="Blogs" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Blogs]]></Value>
    </title>
  </Properties>
</Content>