<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb578520-fd28-4f0d-9c94-b1c59c751693" Alias="Blog2" Level="3">
  <Info>
    <Parent Key="e6dae6c0-6016-43d4-a888-b3077e19db68">Blogs</Parent>
    <Path>/Home/Blogs/Blog2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2023-07-26T11:56:29</CreateDate>
    <NodeName Default="Blog2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Blog2]]></Value>
    </title>
  </Properties>
</Content>