<?xml version="1.0" encoding="utf-8"?>
<Content Key="57ae1d7a-5049-4de2-a047-de6529ac9d2a" Alias="Blog1" Level="3">
  <Info>
    <Parent Key="e6dae6c0-6016-43d4-a888-b3077e19db68">Blogs</Parent>
    <Path>/Home/Blogs/Blog1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2023-07-26T11:56:11</CreateDate>
    <NodeName Default="Blog1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Blog1]]></Value>
    </title>
  </Properties>
</Content>