<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fac066a3-96f9-45bf-9e64-fd05cfcaea23" Alias="blogPage" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-blueprint color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="94d00045-79e5-4da4-beb5-fade2ac3d445">header</Composition>
      <Composition Key="5813a5af-51b5-4d29-b31a-eab37111fb0c">pageContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>