<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dbbf8baa-8715-4923-917a-c278b3332982" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="94d00045-79e5-4da4-beb5-fade2ac3d445">header</Composition>
      <Composition Key="5813a5af-51b5-4d29-b31a-eab37111fb0c">pageContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e54b2d52-3a20-4a7a-9b16-bb5e9d92c02d" SortOrder="0">articlePage</ContentType>
    <ContentType Key="de71e477-e39b-4130-8fe9-f19435e07201" SortOrder="1">bloglistPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>