<?xml version="1.0" encoding="utf-8"?>
<Media Key="a78a0a24-88fe-4ab9-8583-3c7d229fee47" Alias="Sophie Turner Lzvmvklchm0 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SophieTurnerLzvmvklchm0Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-26T16:34:03</CreateDate>
    <NodeName Default="Sophie Turner Lzvmvklchm0 Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eifivj54/sophie-turner-lzvmvklchm0-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>